<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.prfx.shortcut-listener</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__WATCHER_PATH__</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>/tmp/prfx-listener-launcher.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/prfx-listener-launcher.log</string>
</dict>
</plist>
